.env
node_modules/**/*
/rn-places-app-front-end/node_modules/**/*
/rn-places-app-front-end/.expo/*
/rn-places-app-front-end/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
/rn-places-app-front-end/web-build/
/rn-places-app-front-end/web-report/

# macOS
/rn-places-app-front-end/.DS_Store
